extends layout

block layout-content
  div.View.landingview
    div
      nav
        img.image(src="/images/Logo_Uminho.jpeg",style='width:100px;height:75px;')
        div.nav-links
          ul.nav-links 
            li
              a(href="/index") Home
            li
              a(href="/Equipa") Equipa
              
            li
              a(href="/relatorios") Relatorios
            
            li 
              a(href="/dados") Dados
            if(!isAuthenticated)
              li
                a(href="/login") Login
            if(isAuthenticated)   
              li 
                a(href="/logout") LogOut
            if(Usertype)
              li 
                a(href="/AdminDashBoard") Dashboard    
    div.centertext
      h1.textcolorwhite 
      a(href="/Register") Registar novo Admin